Source: ignition-plugin
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libignition-cmake2-dev (>= 2.13.0)  | libignition-cmake-dev (>= 2.13.0),
               python3,
               ruby-ronn
Vcs-Browser: https://github.com/gazebosim/gz-plugin
Vcs-Git: https://github.com/gazebosim/gz-plugin.git
Standards-Version: 4.5.1
Homepage: https://github.com/gazebosim/gz-plugin

Package: libignition-plugin
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: libignition-plugin1-1  (>= 1.2.1+ds1)
Replaces: libignition-plugin1-1  (>= 1.2.1+ds1)
Multi-Arch: same
Description: Gazebo Plugin Library - Shared library
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the shared library

Package: libignition-plugin-dev
Architecture: any
Section: libdevel
Depends: libignition-plugin (= ${binary:Version}),
         libignition-cmake2-dev (>= 2.13.0),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Plugin Library - Development files
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the development files

Package: libignition-plugin-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-plugin (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Gazebo Plugin Library - Debugging symbols
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains debugging symbols
